#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border: 2px solid black;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .increment-card {
    background-color: orange;
  }
  
  .increment-card:active {
    background-color: darkorange;
  }
  
  h3 {
    margin: 0;
    font-size: 1.3em;
  }
  
  #species-box {
    width: 80px;
    margin-bottom: 10px;
  }